@media screen and (min-width: 250px){

@media screen and (min-width: 250px){

.small {
		content:url(images/kitten-small.png);
			background-color:#F5DEB3;
		}
	
		.kittyloaf { 
		content:url(images/kittyloaf.gif);
			background-color:#F5DEB3;
	}
}
	
@media screen and (min-width: 680px){

	body {
	
	content:url(images/kitten-medium.png);
	background-color:F5DEB3;
	
		}
	}
	
@media screen and (min-width: 800px){
	body{
		content:url(images/kitten-large.png);
			background-color:#FFB6C1 ;
	}
}


